commands:
  01_install_mysql:
    command: "dnf install -y mariadb105-devel gcc python3-devel"
  02_mysql_cflags:
    command: "echo 'MYSQLCLIENT_CFLAGS=-I/usr/include/mysql' >> /etc/environment"
  03_mysql_ldflags:
    command: "echo 'MYSQLCLIENT_LDFLAGS=-L/usr/lib64/mysql -lmysqlclient' >> /etc/environment"
